//layout
//左侧菜单宽度
$layout-menu-width :260px;
//左侧菜单背景颜色
$layout-menu-background: #001529;
//顶部导航的高度
$layout-tabbar-height:50px;
//页面内模块间的边距
$layout-space: 15px;
// 背景颜色及印象
$layout-container-background: #F7FAFC;
$layout-container-item-background: #FFFFFF;
$layout-container-item-boxShadow: 0px 0px 10px 1px rgba(191, 191, 191, 0.5);
//logo
// $layout-logo-height: 50px;